/* Bootstrap reset */

.form-control:focus, .btn.focus, .btn:focus {

    box-shadow: unset;
    
}

.input-group-text {

    border: unset;

}

/**
 * Shake effect.
 * 
 * @see https://teamtreehouse.com/community/shake-effect-with-javascript-only
 */
 
@keyframes shake {

    10%, 90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%, 80% {
        transform: translate3d(2px, 0, 0);
    }

    30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%, 60% {
        transform: translate3d(4px, 0, 0);
    }

}

.shake {

    animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
    
}

/**
 * Template based on a snippet created by Mutiullah Samim.
 *
 * @see https://bootsnipp.com/snippets/vl4R7
 */

html, body {

    background-image: url('../images/login-background.jpg');
    background-size: cover;
    background-repeat: no-repeat;

    height: 100%;

}

body {

    font-family: Arial, sans-serif;
    
}

.alert {

    max-width: 290px;
    margin: 15px auto;

}

.card {

    margin-top: auto;
    margin-bottom: auto;

    background-color: rgba(255, 255, 255, 0.7);

}

.mpg-card-header-title {

    font-family: Ubuntu, ubuntu-medium;

}

.input-group-text {

    width: 40px;

    background-color: #5dad1d;
    color: white;

}

/**
 * Flip card.
 * 
 * @see https://stackoverflow.com/questions/57512246/bootstrap-4-flip-card-on-click
 */

.flip-card {

    min-height: 190px;
    min-width: 322px;

    perspective: 1000px;

    transition: min-height 0.6s;

}

.flip-card.flipped {

    min-height: 405px;

}

.flip-card-inner {

    transition: transform 0.6s;
    transform-style: preserve-3d;

}

.flip-card.flipped .flip-card-inner {

    transform: rotateY(180deg);

}

.flip-card-front, .flip-card-back {
    
    position: absolute;
    backface-visibility: hidden;

}

.flip-card-back {

    transform: rotateY(180deg);

}

.mpg-flip-card-button {

    padding-left: 0;

}
