code {

    font-size: 100%;

}

button, input {

    border: 1px solid #ddd;

}

.CodeMirror {

    width: 100%;
    height: auto;
    min-height: 60px;

    margin-bottom: 10px;
    border: 1px solid #ddd;

    font-family: Consolas, monospace;

}

.CodeMirror-hints {

    font-family: Consolas, monospace;
    font-size: 100%;

}

.json-container {

    font-family: Consolas, monospace;

}

.json-container .fas {

    font: normal normal normal 14px/1 FontAwesome;
    border-style: none;

}

#mpg-databases-list, #mpg-collections-list {

    list-style-type: none;

}

#mpg-find-button, #mpg-delete-one-button {

    margin-left: 10px;

}

.output-column {

    margin-top: 15px;

}