.navbar {

    margin-bottom: 10px;
    padding-top: 0;

}

.bg-mongodb {

    background-color: #13aa52;

}

.navbar-brand, .navbar-nav .nav-link {

    position: relative;
    top: 15px;
    padding-bottom: 15px;

}

.navbar-nav .nav-link.active {

    background-color: white;
    color: black !important;

    border-radius: 5px;

}

code {

    font-size: 100%;

}

button, input {

    border: 1px solid #ddd;

}

.CodeMirror {

    width: 100%;
    height: auto;
    min-height: 60px;

    margin-bottom: 10px;
    border: 1px solid #ddd;

    font-family: Consolas, monospace;

}

.CodeMirror-hints {

    font-family: Consolas, monospace;
    font-size: 100%;

}

.json-container {

    font-family: Consolas, monospace;

}

.json-container .fas {

    font: normal normal normal 14px/1 FontAwesome;
    border-style: none;

}

.json-container .json-value[data-document-field-is-updatable="true"]:hover {

    cursor: url("/static/images/edit-icon-32x32.png") 16 16, text;
    outline: 1.5px solid #ddd;

}

#mpg-databases-list, #mpg-collections-list, #mpg-indexable-fields-list {

    list-style-type: none;

}

#mpg-find-button, #mpg-delete-one-button {

    margin-left: 10px;

}

#mpg-output-column, #mpg-indexes-column {

    margin-top: 15px;

}

#mpg-create-index-button {

    margin-left: 10px;

}
