.navbar {

    margin-bottom: 10px;
    padding-top: 0;

}

.bg-mongodb {

    background-color: #13aa52;

}

.navbar-brand, .navbar-nav .nav-link {

    position: relative;
    left: 0;
    top: 15px;

    padding-bottom: 15px;

}

.navbar-nav .nav-link.active {

    background-color: white;
    color: black !important;

    border-radius: 5px;

}

code {

    font-size: 100%;

}

button, input {

    border: 1px solid #ddd;

}

.CodeMirror {

    width: 100%;
    height: auto;
    min-height: 60px;

    margin-bottom: 10px;
    border: 1px solid #ddd;

    font-family: Consolas, monospace;

}

.CodeMirror .mpg-history-pop-button {

    position: absolute;
    right: 0;
    top: 0;
    z-index: 100;

    border: none;
    background: none;

}

.CodeMirror .mpg-history-pop-button:focus {

    outline: none;

}

.CodeMirror-hints {

    font-family: Consolas, monospace;
    font-size: 100%;

}

.json-container {

    font-family: Consolas, monospace;

}

.json-container .fas {

    font: normal normal normal 14px/1 FontAwesome;
    border-style: none;

}

.json-container .json-value[data-document-field-is-updatable="true"]:hover {

    cursor: url("../images/edit-icon-32x32.png") 16 16, text;
    outline: 1.5px solid #ddd;

}

#mpg-databases-list, #mpg-collections-list, #mpg-indexable-fields-list {

    list-style-type: none;

}

#mpg-find-button, #mpg-delete-one-button {

    margin-left: 10px;

}

#mpg-output-column, #mpg-indexes-column {

    margin-top: 15px;

}

#mpg-export-button {

    position: relative;
    top: -5px;
    left: 0;

    margin-left: 10px;

}

#mpg-index-order-select, #mpg-unique-index-select {

    width: auto;

}

#mpg-create-index-button {

    margin-left: 10px;

}

@media screen and (max-width: 576px) {

    #mpg-create-index-button {

        margin-top: 10px;
    
    }

}
